@import "tailwindcss";

button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  -webkit-user-drag: none;
}

button {
  color: white;
  background-color: blue;
  padding: 10px 20px;
}

.cart {
  view-transition-name: cart;
}
